<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/public/img/icon_logo.png" type="image/x-icon">
    <title>Datetime Setting</title>
    <link href="/public/css/bootstrap.min.css" rel="stylesheet">
    <script src="/public/js/bootstrap.bundle.min.js"></script>
    <script src="/public/js/sweetalert2@11.js"></script>
    <link rel="stylesheet" href="/public/css/card.css">
    <script src="/public/js/header.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>
    <h1 class="text-center pt-4">Datetime Setting</h1>

    <div class="d-flex justify-content-center mt-5">  
        <div class="card-container d-flex gap-4">

            <a href="/datetime_setter_register">
                <div class="card other d-flex flex-column justify-content-center align-items-center text-center p-3" 
                    style="width: 250px; height: 200px; display: block;">
                    <div class="card-title">Register</div>
                    <div style="position: absolute; bottom: 10px; right: 10px;">
                        <i class="fas fa-list fa-2x"></i>
                    </div>
                </div>
            </a>

            <a href="/datetime_setter_info">
                <div class="card other d-flex flex-column justify-content-center align-items-center text-center p-3" 
                    style="width: 250px; height: 200px; display: block;">
                    <div class="card-title">Information</div>
                    <div style="position: absolute; bottom: 10px; right: 10px;">
                        <i class="fas fa-pen fa-2x"></i>
                    </div>
                </div>
            </a>

            <a href="/datetime_setter_vote">
                <div class="card other d-flex flex-column justify-content-center align-items-center text-center p-3" 
                    style="width: 250px; height: 200px; display: block;">
                    <div class="card-title">Vote</div>
                    <div style="position: absolute; bottom: 10px; right: 10px;">
                        <i class="fas fa-file-alt fa-2x"></i>
                    </div>
                </div>
            </a>

            <a href="/datetime_setter_score">
                <div class="card other d-flex flex-column justify-content-center align-items-center text-center p-3" 
                    style="width: 250px; height: 200px; display: block;">
                    <div class="card-title">Score</div>
                    <div style="position: absolute; bottom: 10px; right: 10px;">
                        <i class="fas fa-pen fa-2x"></i>
                    </div>
                </div>
            </a>


        </div>
    </div>
</body>

</html>
